.password-recovery-content {
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: #614ea6;
  height: 100vh;

  .form-password-recovery {
    min-width: 400px;
  }

  .btn-password-recovery {
    background-color: #fff;
    color: #614ea6;

    &:hover {
      background-color: #f21667;
      color: #fff;
      transition: .2s ease-in;
    }
  }
}