.img-card-details {
  width: 100%;
  min-height: 300px;
  max-height: 350px;
}

.box-info {
  background: #614ea6;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-action {
  i {
    color: #614ea6;
    transition: .3s ease-in;
    position: fixed;
    right: 10px;

    &:hover {
      color: #f21667;
    }
  }
}

.btn-edit i {
  bottom: 60px;
}

.btn-delete i {
  bottom: 10px;
}

.views {
  color: #614ea6;
}

.loading {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;

  .spinner-border {
    color: #614ea6;
    width: 100px;
    height: 100px;
  }
}